*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.container{
    background-color: rgb(162, 200, 206);
    min-height:100vh;
    border:30px solid #000000;
}
.content{
    max-width: 900vh;
    margin:0 auto;
}
.top_section{
    display: flex;
    align-items: center;
    gap:20px;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 15%;
}
.top_section h1{
 
   font-size: 75px;
    font-weight: bold;
    color:#eeeef8;
    align-items: flex-end;

}
h1,h4{
   
    text-align: center;
}
.top_section h4{
  text-align: end;
}

.image_container{
    margin-left: 20%;
    border-radius:50%;
    overflow:hidden;
}
.image_container,img{
    width: 300px;
    height: 300px;
    border:2.5px solid rgb(21, 14, 14);
}
.about_section{
    font-size: larger;
}

h2{
    text-decoration: underline;
    color:#eeeef8;
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 85px;
    padding-right: 35px;
    font-size:45px;
    margin-bottom: 20px;

}
p{
    margin-right: 95px;
    font-size: 20px;
    margin-left: 50px;
    line-height: 1.5;
    letter-spacing: 1px;
}
  h1:hover{
     color:black;
   }
  
